@import 'reset';
@import 'c3';
.page-title{
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
}
.car-detail{
  padding:1em;
}
.chart-wrapper{
  padding:1em;
}
.home-btn{
  text-decoration: none;
  background: steelblue;
  color: white;
  padding: 0.3em;
  border-radius: 0.3em;
  margin: 1em;
}
.home-btn:hover{
  text-decoration: none;
  background: #59A6E5;
  color: white;
  padding: 0.3em;
  border-radius: 0.3em;
}